#todo{
    margin:50px;
    width: 156px;
    background-color:beige;
}

ul {
    margin-left:0px;
    padding-left:0px;
    width: 156px;
}

li{
    margin-left:0px;
    list-style: none; 
    border: 1px whitesmoke solid;
    padding-left:5px;
}

li span.control-active{
    float: right;
    margin-right:10px;
    cursor:pointer;
}

li span.control-done{
       display:none;
}

li div.active{
    background-color:lightcyan;
}

li div.done {
    background-color:dimgrey;
}

li div.done span.text{
    text-decoration: line-through;
}

li input,  div.display{
    margin-left:-4px;
    padding-left:0px;
}

.hide{
    display:none;
}
